/* CSS Document */

.texto{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#FFFFFF;
}
.rodape{
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#a19c94;
}

a{
	color:#FFFFFF;
	font-weight:bold;
}

INPUT {
	BORDER-RIGHT: #fefefe 1px ridge;
	BORDER-TOP: #fefefe 1px ridge;
	FONT-SIZE: 8pt;
	FILTER: Alpha(Opacity=80,FinishOpacity=100,Style=1,StartX=100,StartY=100,FinishX=100,FinishY=1);
	BORDER-LEFT: #fefefe 1px ridge;
	COLOR: #000000;
	BORDER-BOTTOM: #fefefe 1px ridge;
	FONT-FAMILY: verdana;
	BACKGROUND-COLOR: #ffffff;
}

SELECT {
	BORDER-RIGHT: #fefefe 1px ridge;
	BORDER-TOP: #fefefe 1px ridge;
	FONT-SIZE: 8pt;
	FILTER: Alpha(Opacity=80,FinishOpacity=100,Style=1,StartX=100,StartY=100,FinishX=100,FinishY=1);
	BORDER-LEFT: #fefefe 1px ridge;
	COLOR: #000000;
	BORDER-BOTTOM: #fefefe 1px ridge;
	FONT-FAMILY: verdana;
	BACKGROUND-COLOR: #ffffff;
}

.esconde {
	display:none;
}

.button {
   font-size:10px;
   border-style:outset;
}

.button2 {
   font-size:13px;
   font-weight:bold;
   border-style:outset;
}

.title {
	font-size: 50px;
	line-height: 70px;
}

.title a {
	text-decoration:none;
}
